* {
    color: #fff;
}

.custom-bg-dark {
    background-color: #373f46 !important;
}

nav.navbar {
    height: 6rem;
}

a.navbar-brand {
    text-transform: uppercase;
    letter-spacing: 3px;
}

li.nav-item a {
    text-transform: uppercase;
}

div#app-container {
    position: fixed;
    top: 96px;
    left: 0;
    bottom: 96px;
    width: 100%;
    padding: 2rem;
    background-color: #1d2733;
    overflow: auto;   
}

/* #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

#nav {
padding: 30px;
}

#nav a {
font-weight: bold;
color: #2c3e50;
}

#nav a.router-link-exact-active {
color: #42b983;
} */

@media screen and (max-width: 767px) {
    div#navbarCollapse {
        width: 100%;
        position: fixed;
        top: 75px;
        left: 0;
        padding-left: 20px;
        padding-bottom: 5px;
        background-color: #373f46;
    }
}